$background-color:rgb(243,242,243);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
    background-color: $background-color;
    
}
header{

    width: 100%;
    
    .header-top{

    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    
    
        
        .logo{
            width: 80%;
            max-width: 100%;
            
            mix-blend-mode: normal;
        }
    
    nav{
       display: flex;
       align-items: center;
       a{
        color: black;
        text-decoration: none;
        padding: 0 .7rem;
        font-weight: bold;
        font-size: 1.5rem;

        &:hover{
            text-decoration: line-through;
        }
       }
       .dot{
        border: 1px solid black;
        border-radius: 1rem;
        width: 5px;
        height:5px;
        background-color: black;
       }
    }
    .header-right{
        display: flex;
        span{
            padding:0 0.2rem;
            position: relative;

            img{
                max-width: 80%;
                cursor: pointer;
            }
            .cart-num{
                position: absolute;
                top: 0;
                right: 5px;

            }
            .show-cart{
                border: none;
                outline: none;
                background-color: inherit;
                cursor: pointer;
            }
        }
    }
    .cart-list{
        border: 0.1rem solid black;
        width: 30%;
        background-color: $background-color;
        border-radius: 0.5rem;
        position: absolute;
        z-index: 1;
        right: 5rem;
        top: 5rem;
        display: none;
        h2{
            text-align: center;
            text-transform: uppercase;
        }
        .cart-empty{
            display: flex;
            justify-content: center;
            color: black;
            font-size: 1.5rem;
            padding: 0.5rem;
        }
        .cart-row{
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 0.5rem;
    
            .item-details{
                display: flex;
                flex-direction: column;
                
            }
            .item-image{
                width: 100px;
                border-radius: 0.5rem; 
    
            }
            .quantity-input{
                width: 20%;
            }
        }
    }
}
.header-hero{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5rem;
    padding: 1rem;
    margin-top: 0.5rem;
    .hero-1{
        grid-row: 1/span 3;
        position: relative;
        img{
            max-width: 100%;
            border-radius: 0.5rem;
        }
        .enquiry{
            position: absolute;
            top: 90%;
            left: 3%;
            display: flex;


            span{
                border: 0.1rem solid white;
                color: white;
                border-radius: 1rem;
                margin: 0.2rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width:13rem;
             img{
                width: 100%;
                padding: 0.1rem;

                
             }
             .mail{
                border: 1px solid white;
                background-color: white;
                border-radius: 50%;
                width: 30px;
                height: 30px;
            }
            .learn{
                border: 1px solid white;
                background-color: white;
                border-radius: 50%;
                width: 30px;
                height: 30px;  

            }


            }

            .learn-more{
                background-color: black;
                border: 1px solid black;
            }
        }
    }
    .hero-2{
        width: 100%;
        height:53vh ;
        padding: 0.2rem;
        text-align: center;
        grid-column: 2/span 4;
        align-items: center;
        justify-items: center;
        margin: auto;
        border-radius: 1rem;
        border: 0.1rem solid rgb(170,170,168);
        background-color: rgb(170,170,168);
        text-align: left;
        
        h1{
            display: flex;
            flex-direction: column;
            font-size: 5rem;
            font-weight: 900;
            padding: 0.5rem;
        }
        p{
            font-size: 2rem;
            font-weight: 300;
            padding: 4rem 0.5rem;
        
        }
    }
    .hero-3{
        border-radius: 1rem;
        position: relative;
        img{
            max-width: 100%;
            border-radius: 0.5rem;
            filter: brightness(50%);
        }
        span{
            position: absolute;
            bottom: 0;
            
            left: 0;
            color: white;
            font-weight: 400;
            padding: 0.2rem;
            font-size: 1.2rem;
           
        }
        
    }
    .hero-4{
        position: relative;
        border-radius: 1rem;  
        img{
            
            max-width: 100%;
            border-radius: 0.5rem;
            filter: brightness(50%);
        }
        span{
            position: absolute;
            bottom: 0;
            
            left: 0;
            color: white;
            font-weight: 400;
            padding: 0.2rem;
            font-size: 1.2rem;
        }
    }
    
}
}

main{
    
    padding: 1rem;
    margin-bottom: 0.5rem;
   
    .content-1{
        font-size: 2.5rem;
        line-height: 3rem;
        padding: 1rem;

        .classic{
            border: 0.1rem solid black;
            border-radius: 1rem;
        }
       
    }

    .content-2{
        
        margin-bottom: 0.5rem;
        h2{
            font-size: 2rem ;
            font-weight: 600;
            padding: 1.5rem 0.5rem;
        }
       .winter-col{
        background-color: black;
        border-radius: 0.1rem solid black;
        color: white;
       }
        span{
            border: 0.1rem solid black;
            border-radius: 1rem;
            text-align: center;
            font-size: 1.5rem;
            padding: 0.2rem;
            display: inline-block;
            margin: 0.2rem;
            
           .sub{
            font-size: 1rem;
            border-radius: none;
            border: none;
            margin: 0;
            padding: 0;
           }

        }
        
       
    }
    
    .content-3{
        
        
        .item{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 0.5rem;
            div{
            
                margin: 0.5rem;
                cursor: pointer;
                position: relative;
                object-fit: cover;
                border-radius: 0.5rem;
                
                
                img{
                    max-width: 100%;
                    border-radius: 0.5rem;
                }
                .new-arrival{
                    position: absolute;
                    top: 0;
                    border: 0.1rem solid white;
                    background-color: white;
                    padding: 0.2rem;

                }
                .discount{
                    color: red;
                    
                }
                .shop-container{
                    display: flex;
                    flex-direction: column;
                    padding: 0.2rem;
                    position: absolute;
                    top: 50%;
                    left: 30%;
                    display: none;
                    cursor: pointer;
                    gap: 1rem;
                    

                   .add-to-cart{
                    border: 1px solid white;
                    background-color: white;
                    border-radius: 0.5rem;
                    color: black;
                    font-weight: 600;
                    padding: 0.5rem;
                    width: 100%;
                    margin:  0.2rem 0;
                    cursor: pointer;
                   }
                   .buy-now{
                    border: 1px solid white;
                    background-color: inherit;
                    border-radius: 0.5rem;
                    color: white;
                    font-weight: 600;
                    padding: 0.5rem;
                    width: 100%;
                    cursor: pointer;
                   }
                }

                .item-details{
                    display: flex;
                    flex-direction: column;
                    line-height: 1.5rem;

                    .price{
                        color: red;
                        font-weight: 600;
                    }
                    
                    }

                &:hover .shop-container{
                    display: block;
                    
                }
            }
        }
    }

    .content-4{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
            .left{
                border: 0.1rem solid rgb(222,102,54);
                border-radius: 1rem;
                height: 75vh;
                width: 75%;
                background-color: rgb(222,102,54);
                
               
                .statement{
                    display: flex;
                    justify-content: space-evenly;
                    
                }
                
                h1{
                    display: flex;
                    flex-direction: column;
                    font-size: 4rem;
                    padding: 0.5rem 3.5rem;
                    padding-bottom: 8rem;
                    font-weight: 900;
                    
                }
                hr{
                    border: 1px solid black;
                }
                p,h3{
                    padding: 0.5rem;
                }
                h3{
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                }
                .icon{
                    border: 1px solid white;
                background-color: white;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                img{
                    max-width: 100%;
                }
                }
                p{
                    display: flex;
                    flex-direction: column;
                    line-height: 2rem;
                    font-size: 1.5rem;
                }
            }
        img{
            max-width: 100%;
            max-height:80vh;
            border-radius: 1rem;
            -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    
        }
    }

}

footer{
    
    padding: 2rem;
    display: grid ;
    grid-template-columns: repeat(4,1fr);
    gap: 0.5rem;
    background-color: black;
    .logo{
        max-width: 50%;
    }
    div{
        border: 1px solid black;
        
        h3{
            color: white;
            font-weight: 600;
        }
        nav{
            display: flex;
            flex-direction: column;

            a{
                color: white;
                padding: 0.5rem;
                text-decoration: none;
            }
        }
    }
}

